/* Foundation */
h1,
h2,
h3 {
  text-align: center;
}

h3 {
  line-height: 40px;
}

img {
  position: absolute;
  width: 50px;
  height: 50px;
}

div {
  position: absolute;
  width: 500px;
  height: 500px;
}

#rightSide {
  left: 500px;
  border-left: 1px solid;
}

.container {
    width: 100%;
    margin: auto;
    padding-top: 4%;
    padding-bottom: 4%;
}
/* Nav Bar Function */

nav {
  width: 100%;
  margin: 0;
}

nav ul {
  background-color: gray;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

ul.mainnav li a {
  display: block;
  text-decoration: none;
  min-height: 15px;
  padding: 15px;
  text-transform: uppercase;
}

ul.mainnav li a:hover {
  background-color: goldenrod;
  color: honeydew;
}

ul.mainnav li.dropdownIcon {
  display: none;
}

/* Mobile */
@media screen and (max-width: 680px) {
  ul.mainnav li:not(:nth-child(1)) {
    display: none;
  }

  ul.mainnav li.dropdownIcon {
    display: block;
    float: right;
  }

  ul.mainnav.responsive li.dropdownIcon {
    position: absolute;
    top: 0;
    right: 0;
  }

  ul.mainnav.responsive {
    position: relative;
  }

  ul.mainnav.responsive li {
    display: inline;
    float: none;
  }

  ul.mainnav.responsive li a {
    display: block;
    text-align: left;
  }

  .col-6,
  .col-4,
  .col-7,
  .col-5 {
    width: 100%;
    margin: 0;
  }

  
}
